---
layout: default
---

<section id="home">
  <div class="wrapper md:flex md:items-center">
    <div class="px-5 pt-40 md:w-1/2 md:pt-40 md:pb-24 md:px-10 lg:w-2/3">
      <h1>La plataforma Bancaria diseñada para integrar tu negocio financiero</h1>
      <p class="lg:w-3/4">El servicio SaaS que a través de su API te ofrece el manejo de créditos, crowdfunding y wallets electrónicos para que tengas la libertad de enfocarte en tu negocio.</p>
      <button class="btn btn-wide">
        <a href="mailto:ventas@creditar.io?subject=Información de Creditar.io">Contacto</a>
      </button>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 md:w-1/2 md:pt-40 md:pb-24 md:pl-0 md:pr-0 lg:w-1/3">
      <div class="flex-grow md:hidden"></div>
      <div class="w-5/6 md:w-full">
        <img class="object-cover object-left-bottom not-cropped" src="/images/customers.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="products" class="fade-in-up" data-controller="appear">
  <div class="wrapper">
    <div class="px-5 pt-16 md:px-10">
      <h3>Múltiples productos financieros</h3>
      <h2>Configura tus productos para diferentes perfiles de clientes</h2>
      <div class="md:w-3/5 lg:w-1/2">
        <p>Puedes definir diferentes tipos de productos financieros para cubrir un espectro más amplio de clientes.</p>
        <p>Cada producto tiene sus propias características que puedes configurar para créditos simples o créditos revolventes (líneas de crédito)</p>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 lg:px-20">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-5/6 lg:w-full">
        <img class="object-cover object-left-top lg:w-full lg:object-bottom" src="/images/products.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="customers" class="fade-in-up" data-controller="appear">
  <div class="wrapper">
    <div class="px-5 pt-16 md:px-10">
      <h3>Manejo de clientes y solicitudes de crédito</h3>
      <h2>Centraliza la información de clientes y solicitudes</h2>
      <div class="md:w-3/5 lg:w-1/2">
        <p>La información de clientes es guardada con cifrado en la Base de Datos. Manten el expediente digital en un solo lugar.</p>
        <p>Personaliza el flujo de llenado de solicitud en tu integración, personaliza la pre-calificación e integra tu modelo de riesgos con Webhooks y API de Creditar.io.</p>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 lg:px-20">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-5/6 lg:w-full">
        <img class="object-cover object-left-top lg:w-full lg:object-bottom" src="/images/application.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="credits" class="fade-in-up" data-controller="appear">
  <div class="wrapper">
    <div class="px-5 pt-16 md:px-10">
      <h3>Administra tus créditos activos y pagos</h3>
      <h2>Tu cartera de créditos siempre actualizada al día</h2>
      <div class="md:w-3/5 lg:w-1/2">
        <p>Obtén reportes de pagos próximos y genera archivos para domicialización. Obten reportes de pargos y aplícalo en grupos o uno por uno.</p>
        <p>Conoce al momento de atrasos en los pagos y genera automáticamente los cargos definidos en tu producto financiero.</p>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 lg:px-20">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-5/6 lg:w-full">
        <img class="object-cover object-left-top lg:w-full lg:object-bottom" src="/images/credits.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="api" class="fade-in-up" data-controller="appear">
  <div class="wrapper lg:flex lg:items-center">
    <div class="px-5 pt-16 md:px-10 lg:w-2/3 lg:pt-0 lg:pl-10">
      <h3>Creditar.io es la plataforma para crecer tu negocio</h3>
      <h2>Nuestra API Rest se integra a tus necesidades tecnológicas</h2>
      <div class="md:w-3/4 lg:w-3/4">
        <p>Personaliza tus flujos de las solicitudes, crea perfiles para tus clientes o crea estados de cuenta personalizados con nuestra API Rest.</p>
        <p>Tus clientes merecen la experiencia de usuario que tu diseñaste para ellos. Nuestra API y Webhooks están para ayudarte sin importar las tecnologías que utilices.</p>
        <button class="btn btn-wide">
          <a href="mailto:ventas@creditar.io">Contacto</a>
        </button>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 md:px-10 lg:w-1/3 lg:py-20 lg:px-0">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-3/4 lg:w-full">
        <img class="object-cover object-left not-cropped" src="/images/api.png" alt="creditar.io">
      </div>
      <div class="md:flex-grow"></div>
    </div>
  </div>
</section>
