---
layout: default
---

<section id="home">
  <div class="wrapper md:flex md:items-center">
    <div class="px-5 pt-40 md:w-1/2 md:pt-40 md:pb-24 md:px-10 lg:w-2/3">
      <h1>{{ site.metadata.tagline }}</h1>
      <p class="lg:w-3/4">{{ site.metadata.description }}</p>
      <button class="btn btn-wide">
        <a id="cta-1" href="mailto:{{ site.metadata.email }}?subject=Me%20interesa%20conocer%20m%C3%A1s%20de%20creditar.io">Quiero saber más</a>
      </button>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 md:w-1/2 md:pt-40 md:pb-24 md:pl-0 md:pr-0 lg:w-1/3">
      <div class="flex-grow md:hidden"></div>
      <div class="w-5/6 md:w-full">
        <img class="object-cover object-left-bottom not-cropped" src="/images/customers.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="products" class="fade-in-up" data-controller="appear">
  <div class="wrapper">
    <div class="px-5 pt-16 md:px-10">
      <h3>Múltiples productos financieros</h3>
      <h2>Configura tus productos para diferentes perfiles de clientes</h2>
      <div class="md:w-3/5 lg:w-1/2">
        <p>Puedes definir diferentes tipos de productos financieros para cubrir un espectro más amplio de clientes.</p>
        <p>Cada producto tiene sus propias características que puedes configurar para créditos simples o créditos revolventes (líneas de crédito).</p>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 lg:px-20">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-5/6 lg:w-full">
        <img class="object-cover object-left-top lg:w-full lg:object-bottom" src="/images/products.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="customers" class="fade-in-up" data-controller="appear">
  <div class="wrapper">
    <div class="px-5 pt-16 md:px-10">
      <h3>Manejo de clientes y solicitudes de crédito</h3>
      <h2>Centraliza la información de clientes y solicitudes</h2>
      <div class="md:w-3/5 lg:w-1/2">
        <p>Toda la información es almacenada con cifrado en nuestras Bases de Datos. Manten el expediente digital de todos tus clientes en un solo lugar.</p>
        <p>Personaliza el flujo de llenado de solicitud en tu integración, personaliza la pre-calificación e integra tu modelo de riesgos con Webhooks y la API de Creditar.io.</p>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 lg:px-20">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-5/6 lg:w-full">
        <img class="object-cover object-left-top lg:w-full lg:object-bottom" src="/images/application.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="credits" class="fade-in-up" data-controller="appear">
  <div class="wrapper">
    <div class="px-5 pt-16 md:px-10">
      <h3>Administra tus créditos activos y lleva el seguimiento de sus pagos</h3>
      <h2>Tu cartera de créditos siempre actualizada</h2>
      <div class="md:w-3/5 lg:w-1/2">
        <p>Obtén reportes de pagos próximos y genera archivos para domicialización. Obten reportes de pagos y aplícalo en grupo o de manera individual.</p>
        <p>Enterate al momento de atrasos en los cobros y genera automáticamente los cargos por morosidad definidos en tu producto financiero.</p>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 lg:px-20">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-5/6 lg:w-full">
        <img class="object-cover object-left-top lg:w-full lg:object-bottom" src="/images/credits.png" alt="creditar.io">
      </div>
    </div>
  </div>
</section>

<section id="api" class="fade-in-up" data-controller="appear">
  <div class="wrapper lg:flex lg:items-center">
    <div class="px-5 pt-16 md:px-10 lg:w-2/3 lg:pt-0 lg:pl-10">
      <h3>Creditar.io es la plataforma para crecer tu negocio</h3>
      <h2>Nuestra API REST se integra a tus necesidades tecnológicas</h2>
      <div class="md:w-3/4 lg:w-3/4">
        <p>Personaliza tus flujos de solicitud, crea perfiles para tus clientes o estados de cuenta personalizados.</p>
        <p>Tus clientes merecen la experiencia de usuario que tu diseñaste para ellos. Nuestra API y Webhooks están para ayudarte sin importar las tecnologías que utilices.</p>
        <button class="btn btn-wide">
          <a id="cta-2" href="mailto:{{ site.metadata.email }}?subject=Me%20interesa%20conocer%20m%C3%A1s%20de%20creditar.io">Quiero saber más</a>
        </button>
      </div>
    </div>
    <div class="flex items-center pl-5 pt-10 pb-20 md:px-10 lg:w-1/3 lg:py-20 lg:px-0">
      <div class="flex-grow lg:hidden"></div>
      <div class="w-3/4 lg:w-full">
        <img class="object-cover object-left not-cropped" src="/images/api.png" alt="creditar.io">
      </div>
      <div class="md:flex-grow"></div>
    </div>
  </div>
</section>
