---
layout: default
---

<section id="sec1">
  <div class="px-5 pt-40">
    <h1>La plataforma Bancaria diseñada para integrar tu negocio financiero</h1>
    <p>El servicio SaaS que a através de su API te ofrece el manejo de créditos, crowdfunding y wallets electrónicos para que tengas la libertad de enfocarte en tu negocio.</p>
    <button class="btn btn-wide">Contacto</button>
  </div>
  <div class="flex items-center pb-8">
    <div class="flex-grow"></div>
    <img src="/images/sec1.svg" alt="creditario">
  </div>
</section>

<section id="sec2">
  <div class="px-5 pt-16">
    <h3>Múltiples productos financieros</h3>
    <h2>Configura tus productos para difentes perfiles de clientes</h2>
    <p>Puedes definir diferentes tipos de productos financieros para cubrir un espectro más amplio de clientes.</p>
    <p>Cada producto tiene sus propias características que puedes configurar para créditos simples o créditos revolventes (líneas de crédito)</p>
  </div>
  <div class="flex items-center pb-8">
    <div class="flex-grow"></div>
    <img src="/images/sec2.svg" alt="productos">
  </div>
</section>

<section id="sec3">
  <div class="px-5 pt-16">
    <h3>Manejo de clientes y solicitudes de crédito</h3>
    <h2>Centraliza la información de clientes y solicitudes</h2>
    <p>La información de clientes es guardada con cifrado en la Base de Datos. Manten el expediente digital en un solo lugar.</p>
    <p>Personaliza el flujo de llenado de solitud en tu integración, personaliza la pre-calificación e integra tu modelo de riesgos con Webhooks y API de Creditar.io.</p>
  </div>
  <div class="flex items-center pb-8">
    <div class="flex-grow"></div>
    <img src="/images/sec3.svg" alt="solicitud">
  </div>
</section>

<section id="sec4">
  <div class="px-5 pt-16">
    <h3>Administra tus créditos activos y pagos</h3>
    <h2>Tu cartera de créditos siempre actualizada al día</h2>
    <p>Obtén reportes de pagos próximos y genera archivos para domicialización. Obten reportes de pargos y aplícalo en grupos o uno por uno.</p>
    <p>Conoce al momento de atrasos en los pagos y genera automáticamente los cargos definidos en tu producto financiero.</p>
  </div>
  <div class="flex items-center pb-8">
    <div class="flex-grow"></div>
    <img src="/images/sec4.svg" alt="creditos">
  </div>
</section>

<section id="sec5">
  <div class="px-5 pt-16">
    <h3>Creditar.io es la plataforma para crecer tu negocio</h3>
    <h2>Nuestra API Rest se integra a tus necesidades tecnológicas</h2>
    <p>Personaliza tus flujos de las solicitudes, crea perfiles para tus clientes o crea estados de cuenta personalizados con nuestra API Rest.</p>
    <p>Tus clientes merecen la experiencia de usuario que tu diseñaste para ellos. Nuestra API y Webhooks están para ayudarte sin importar las tecnologías que utilices.</p>
    <button class="btn btn-wide">Contacto</button>
  </div>
  <div class="flex items-center pb-8">
    <div class="flex-grow"></div>
    <img src="/images/sec5.svg" alt="api docs">
  </div>
</section>
