---
layout: default
---

<section id="home" class="md:flex md:items-center">
  <div class="px-5 pt-40 md:w-1/2 md:py-20 md:px-10">
    <h1>La plataforma Bancaria diseñada para integrar tu negocio financiero</h1>
    <p>El servicio SaaS que a através de su API te ofrece el manejo de créditos, crowdfunding y wallets electrónicos para que tengas la libertad de enfocarte en tu negocio.</p>
    <button class="btn btn-wide">Contacto</button>
  </div>
  <div class="flex items-center pl-5 pb-8 md:w-1/2 md:py-20">
    <div class="flex-grow"></div>
    <img class="md:hidden lg:hidden" src="/images/home.svg" alt="creditar.io">
    <img class="hidden md:block lg:hidden" src="/images/home-md.svg" alt="creditar.io">
    <img class="hidden lg:block" src="/images/home-lg.svg" alt="creditar.io">
  </div>
</section>

<section id="products">
  <div class="px-5 pt-16 md:px-10">
    <h3>Múltiples productos financieros</h3>
    <h2>Configura tus productos para difentes perfiles de clientes</h2>
    <div class="md:w-3/5">
      <p>Puedes definir diferentes tipos de productos financieros para cubrir un espectro más amplio de clientes.</p>
      <p>Cada producto tiene sus propias características que puedes configurar para créditos simples o créditos revolventes (líneas de crédito)</p>
    </div>
  </div>
  <div class="flex items-center pl-5 pb-8">
    <div class="flex-grow"></div>
    <img class="md:hidden lg:hidden" src="/images/products.svg" alt="productos">
    <img class="hidden md:block lg:hidden" src="/images/products-md.svg" alt="productos">
    <img class="hidden lg:block" src="/images/products-lg.svg" alt="productos">
    <div class="lg:flex-grow"></div>
  </div>
</section>

<section id="customers">
  <div class="px-5 pt-16 md:px-10">
    <h3>Manejo de clientes y solicitudes de crédito</h3>
    <h2>Centraliza la información de clientes y solicitudes</h2>
    <div class="md:w-3/5">
      <p>La información de clientes es guardada con cifrado en la Base de Datos. Manten el expediente digital en un solo lugar.</p>
      <p>Personaliza el flujo de llenado de solitud en tu integración, personaliza la pre-calificación e integra tu modelo de riesgos con Webhooks y API de Creditar.io.</p>
    </div>
  </div>
  <div class="flex items-center pl-5 pb-8">
    <div class="flex-grow"></div>

    <img class="md:hidden lg:hidden" src="/images/customers.svg" alt="solicitud">
    <img class="hidden md:block lg:hidden" src="/images/customers-md.svg" alt="solicitud">
    <img class="hidden lg:block" src="/images/customers-lg.svg" alt="solicitud">

    <div class="lg:flex-grow"></div>
  </div>
</section>

<section id="credits">
  <div class="px-5 pt-16 md:px-10">
    <h3>Administra tus créditos activos y pagos</h3>
    <h2>Tu cartera de créditos siempre actualizada al día</h2>
    <div class="md:w-3/5">
      <p>Obtén reportes de pagos próximos y genera archivos para domicialización. Obten reportes de pargos y aplícalo en grupos o uno por uno.</p>
      <p>Conoce al momento de atrasos en los pagos y genera automáticamente los cargos definidos en tu producto financiero.</p>
    </div>
  </div>
  <div class="flex items-center pl-5 pb-8">
    <div class="flex-grow"></div>
    <img class="md:hidden lg:hidden" src="/images/credits.svg" alt="creditos">
    <img class="hidden md:block lg:hidden" src="/images/credits-md.svg" alt="creditos">
    <img class="hidden lg:block" src="/images/credits-lg.svg" alt="creditos">
    <div class="lg:flex-grow"></div>
  </div>
</section>

<section id="api" class="lg:flex lg:items-center">
  <div class="px-5 pt-16 md:px-10 lg:pr-0 lg:w-1/2 lg:pb-24">
    <h3>Creditar.io es la plataforma para crecer tu negocio</h3>
    <h2>Nuestra API Rest se integra a tus necesidades tecnológicas</h2>
    <div class="md:w-3/4">
      <p>Personaliza tus flujos de las solicitudes, crea perfiles para tus clientes o crea estados de cuenta personalizados con nuestra API Rest.</p>
      <p>Tus clientes merecen la experiencia de usuario que tu diseñaste para ellos. Nuestra API y Webhooks están para ayudarte sin importar las tecnologías que utilices.</p>
      <button class="btn btn-wide">Contacto</button>
    </div>
  </div>
  <div class="flex items-center pl-5 pb-8 lg:pb-20 lg:pt-10 lg:w-1/2">
    <div class="flex-grow lg:hidden"></div>
    <img class="md:hidden lg:hidden" src="/images/api.svg" alt="api docs">
    <img class="hidden md:block lg:hidden" src="/images/api-md.svg" alt="api docs">
    <img class="hidden lg:block" src="/images/api-lg.svg" alt="api docs">
    <div class="lg:flew-grow"></div>
  </div>
</section>
