<!doctype html>
<html lang="es">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}" data-controller="contact">
    {% render "identidad_navbar", metadata: site.metadata, page: page %}
    <main id="identidad">
      <section class="min-h-screen flex flex-wrap items-stretch justify-around bg-white pt-32 lg:pt-0">
        <div class="w-full lg:w-1/2 px-10">
          <div class="flex flex-col items-start justify-center h-full">
            <img src="/images/identidad_main.png" alt="Identidad título y logo" class="w-28 h-10 shadow-none"/>
            <div class="my-5">
              <p class="font-bold text-2xl md:text-3xl lg:text-4xl my-3 lg:my-10">
                Verifica la identidad
              </p>
              <p class="font-bold text-2xl md:text-3xl lg:text-4xl my-3 lg:my-10 text-creditario">
                de tus clientes
              </p>
              <p class="text-lg lg:text-2xl leading-normal my-5">
                Verifica de forma programática la identidad de tus clientes mediante la verificaión de INEs/IFEs y pasaportes, consulta en listas de sanciones y validación de CURPs.
              </p>
            </div>
            <div class="flex flex-col lg:flex-row items-center w-full">
              <button class="main__btn-signup w-full lg:w-auto font-semibold bg-creditario text-white rounded-lg px-10 py-5 lg:mr-5 my-5 lg:my-0">Crear una cuenta gratuita</button>
              <button class=" w-full lg:w-auto font-semibold shadow rounded-lg text-creditario px-10 py-5  my-5 lg:my-0">Consulta el API</button>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <img src="/images/identidad_main_bg.png" alt="Identidad título y logo" class="main__bg object-cover h-96 lg:h-full w-full shadow-none"/>
        </div>
      </section>
      <section class="bg-almost-gray px-10 py-20">
        <div class="flex flex-col items-center justify-center">
          <p class="font-bold text-sm md:text-lg">VERIFICACIONES</p>
          <p class="font-bold text-lg md:text-2xl lg:text-4xl text-black">Identifica clientes legítimos</p>
          <p class="identidad__text-almost-white text-center">Reduce los ataques fraudulentos y confía en los clientes legítimos</p>
        </div>
        <div class="md:px-10 grid md:grid-cols-1 lg:grid-cols-2 gap-10 my-10">
          <div class="flex items-start">
            <div class="w-20">
              <div class="bg-creditario p-2 h-10 w-10 rounded-lg flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </div>
            </div>
            <div class="w-11/12">
              <p class="font-semibold">Consulta la listas de sanciones</p>
              <p class="identidad__text-almost-white">
                Consulta en un solo lugar las listas de sanciones del SAT, Departamento de Tesoro de Estados Unidos, de personas públicamente expuestas y de entidades policiacas de México y de Estados Unidos.
              </p>
            </div>
          </div>
          <div class="flex items-start">
            <div class="w-20">
              <div class="bg-creditario p-2 h-10 w-10 rounded-lg flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                </svg>
              </div>
            </div>
            <div class="w-11/12">
              <p class="font-semibold">Verificación de documentos</p>
              <p class="identidad__text-almost-white">
                Verifica que los documnetos proporcionados por el cliente sean documentos que pertencen a INE/IFE tanto frontal como reverso además de verificar pasaportes.
              </p>
            </div>
          </div>
          <div class="flex items-start">
            <div class="w-20">
              <div class="bg-creditario p-2 h-10 w-10 rounded-lg flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </div>
            </div>
            <div class="w-11/12">
              <p class="font-semibold">Validación de CURP</p>
              <p class="identidad__text-almost-white">
                Valida que el CURP cumpla con los requisitos de formato pero además confirma que es un CURP existente y obtiene la información del mismo.
              </p>
            </div>
          </div>
          <div class="flex items-start">
            <div class="w-20">
              <div class="bg-creditario p-2 h-10 w-10 rounded-lg flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
              </div>
            </div>
            <div class="w-11/12">
              <p class="font-semibold">Más puntos de verificación</p>
              <p class="identidad__text-almost-white">
                Nuestro equipo sigue trabajando en traer más puntos de verificación que ayuden a generar confianza en clientes legítimos.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="p-10 w-full">
        <div class="flex flex-col items-center w-full">
          <p class="text-creditario my-3">INTEGRA DE FORMA RAPIDA</p>
          <p class="text-2xl my-5 text-center">Con nuestra API conecta tu aplicación en minutos</p>
          <p class="text-dark-gray my-3 text-center">Nuestra API REST te permite verificar a tus clientes de una manera sencilla.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 my-10">
          <div class="bg-almost-gray relative">
            <div class="w-full h-10 absolute identidad__integracion-cards-logo flex justify-center">
              <div class="w-10 h-full bg-creditario rounded flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </div>
            </div>
            <div class="p-10">
              <p class="text-center font-bold">API Rest</p>
              <p class="text-dark-gray text-sm text-center">API Rest sencilla de implementar que extiende el poder de tu aplicación.</p>
            </div>
          </div>
          <div class="bg-almost-gray relative">
            <div class="w-full h-10 absolute identidad__integracion-cards-logo flex justify-center">
              <div class="w-10 h-full bg-creditario rounded flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                </svg>
              </div>
            </div>
            <div class="p-10">
              <p class="text-center font-bold">Recibe información vía Webhooks</p>
              <p class="text-dark-gray text-sm text-center">Algunas de las llamadas al API producen como resultado el envío de datos a través de Webhook con datos firmados criptograficamente.</p>
            </div>
          </div>
          <div class="bg-almost-gray relative">
            <div class="w-full h-10 absolute identidad__integracion-cards-logo flex justify-center">
              <div class="w-10 h-full bg-creditario rounded flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg>
              </div>
            </div>
            <div class="p-10">
              <p class="text-center font-bold">Información segura</p>
              <p class="text-dark-gray text-sm text-center">El intercambio de datos confidenciales de los clientes viaja de forma segura.</p>
            </div>
          </div>
          <div class="bg-almost-gray relative">
            <div class="w-full h-10 absolute identidad__integracion-cards-logo flex justify-center">
              <div class="w-10 h-full bg-creditario rounded flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                </svg>
              </div>
            </div>
            <div class="p-10">
              <p class="text-center font-bold">Gestiona tus llaves de acceso</p>
              <p class="text-dark-gray text-sm text-center">Controla el manejo de tu llave de acceso, genera rotación periódica para controlar el acceso programáticamente</p>
            </div>
          </div>
          <div class="bg-almost-gray relative">
            <div class="w-full h-10 absolute identidad__integracion-cards-logo flex justify-center">
              <div class="w-10 h-full bg-creditario rounded flex justify-center items-center">
                <img src="/images/logo_white_lines.svg" alt="Creditario logo" class="shadow-none w-2/3 h-2/3"/>
              </div>
            </div>
            <div class="p-10">
              <p class="text-center font-bold">Integración con Creditar.io</p>
              <p class="text-dark-gray text-sm text-center">Si eres cliente de Creditar.io aprovecha la integración automática</p>
            </div>
          </div>
          <div class="bg-almost-gray relative">
            <div class="w-full h-10 absolute identidad__integracion-cards-logo flex justify-center">
              <div class="w-10 h-full bg-creditario rounded flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
              </div>
            </div>
            <div class="p-10">
              <p class="text-center font-bold">Documentación del API</p>
              <p class="text-dark-gray text-sm text-center">El API se encuentra documentada, actualizada y lista para iniciar a utilizarla.</p>
            </div>
            <div class="absolute flex justify-center w-full identidad__integracion-cards-button">
              <button class="shadow rounded bg-white px-5 py-3 text-dark-green font-semibold">
                Consulta el API
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-almost-gray px-10 pt-20">
        <div class="w-full flex flex-col items-center">
          <p class="text-creditario">NO TECNOLOGÍA</p>
          <p class="text-2xl font-bold text-center">
            ¿No tienes una aplicación? No hay problema
          </p>
          <div class="w-3/4 lg:w-2/4">
            <p class="text-dark-gray text-center">
              Entra al dashboard de la aplicación y realiza las verificaciones, validaciones y consultas con un navegador o desde tu móvil
            </p>
          </div>
        </div>
        <div class="w-full mt-10 h-64 lg:h-96">
          <img src="/images/demo_identidad.png" class="w-full object-cover h-full object-top" alt="Imagen demo"/>
        </div>
      </section>
    </main>
    {% render "footer", metadata: site.metadata %}
  </body>
</html>
