---
layout: default
permalink: /privacidad/
---

<section class="pt-32 bg-gray-100 border-t-4 border-teal-700">
  <div class="max-w-6xl px-6 mx-auto">
    <header class="space-y-4">
      <div class="max-w-xl text-gray-800 text-md leading-5">
        <h1 class="">Aviso de Privacidad</h1>
      </div>
    </header>
  </div>

  <div class="max-w-6xl px-6 py-8 mx-auto">
    <p><em>Fecha de &uacute;ltima actualizaci&oacute;n: 15 de febrero de 2021</em></p>

    <p>
    El presente aviso de privacidad se pone a su disposici&oacute;n con el objetivo de darle a conocer la forma en que
    <strong>Creditario</strong> realiza el tratamiento de los datos personales que recopila, usa, comparte y que el cliente o
    usuario mediante la prestaci&oacute;n de los servicios descritos en sus contratos, as&iacute; como los datos personales
    requeridos a sus empleados o colaboradores y el cual estar&aacute; disponible en nuestro sitio
    web: <a href="">https://creditar.io/</a> (en adelante: &quot;Sitio Web&quot;), dando cumplimiento a la Ley Federal de
    Protecci&oacute;n de Datos Personales en posesi&oacute;n de particulares (en adelante “Ley”).
    </p>

    <p>
    En este contexto, los datos personales se refieren a cualquier informaci&oacute;n relacionada que pertenezca a cualquier persona
    f&iacute;sica identificada o que pueda identificarse, como nombre, n&uacute;mero de tel&eacute;fono o direcci&oacute;n.
    Procesamos sus datos personales dentro de nuestro sistema, si es un cliente o usuario de <strong>Creditario</strong> o cuando
    visita nuestro Sitio Web con fines informativos.
    </p>

    <p>
    Para la redacci&oacute;n de esta pol&iacute;tica de privacidad se han incorporado elementos del reglamento general de
    protecci&oacute;n de datos (GDPR) a medida que actuamos de acuerdo con sus normas de procesamiento de datos personales dentro
    del espacio econ&oacute;mico europeo (EEE).
    </p>

    <h2>Finalidad de datos personales</h2>

    <p>
    <strong>Creditario</strong> recabar&aacute; sus datos personales para proporcionar, analizar, administrar, mejorar y
    personalizar los servicios a trav&eacute;s del Sitio Web o cualquier plataforma mediante la cual <strong>Creditario</strong>
    los recabe y ser&aacute;n utilizados con las siguientes finalidades:
    </p>

    <p>
    <ul class="list-disc list-inside pl-5">
      <li>Contactar para ofrecerle los servicios profesionales y productos de <strong>Creditario</strong>.</li>
      <li>Enviar publicidad y estudios de mercadotecnia.</li>
      <li>Prestar los servicios y/o realizar la contrataci&oacute;n con <strong>Creditario</strong> ya sea como proveedor, empleado o cliente.</li>
      <li>Verificar, confirmar y validar la identidad de clientes, proveedores y/o empleados.</li>
      <li>Administrar, dar seguimiento y almacenamiento de los datos en caso de contrataciones subsecuentes de nuevos servicios.</li>
      <li>Realizar el cargo correspondiente para el pago de los diversos servicios que se ofrecen.</li>
      <li>Prospecci&oacute;n comercial.</li>
      <li>Prevenir, detectar e investigar actividades potencialmente prohibidas o ilegales, como el fraude, y hacer cumplir los
        t&eacute;rminos y condiciones, pol&iacute;ticas de privacidad y cualquier regulaci&oacute;n vigente.</li>
      <li>Analizar y entender sus preferencias para mejorar el servicio y optimizar los servicios.</li>
      <li>Comunicarse con usted en relaci&oacute;n con nuestro servicio, para poder enviarle noticias sobre
        <strong>Creditario</strong>, detalles sobre nuevas funciones, contenidos disponibles, ofertas especiales,
        anuncios promocionales y encuestas para consumidores, as&iacute; como para ayudarlo con solicitudes operativas,
        como restablecer su contrase&ntilde;a.</li>
    </ul>
    </p>

    <h2>Informaci&oacute;n proporcionada a Creditario</h2>

    <p>Cuando se registra, nos contacta o crea una cuenta procesada por Creditario y/o su Sitio Web nos proporciona, entre otros,
    datos personales que incluye:</p>

    <ol class="list-disc list-inside pl-5">
      <li>
        <p>
        <strong>Datos de identificaci&oacute;n:</strong>
        <ol class="list-decimal list-inside pl-5">
          <li>Nombre (s).</li>
          <li>Apellido (s).</li>
          <li>Fecha de nacimiento.</li>
          <li>Documento de identificaci&oacute;n oficial.</li>
        </ol>
        </p>
      </li>
      <li>
        <p>

        <strong>Datos de contacto:</strong>
        <ol class="list-decimal list-inside pl-5">
          <li>Direcci&oacute;n.</li>
          <li>N&uacute;mero de celular.</li>
          <li>Correo electr&oacute;nico.</li>
          <li>Geolocalizaci&oacute;n e ip.</li>
        </ol>

        </p>
      </li>
      <li>
        <p>

        <strong>Datos laborales</strong>
        <ol class="list-decimal list-inside pl-5">
          <li>Puesto y/o cargo que desempe&ntilde;an</li>
          <li>Correo institucional</li>
          <li>Referencias laborales</li>
        </ol>

        </p>
      </li>
    </ol>

    <p>Los datos que proporcione a <strong>Creditario</strong> ser&aacute;n recopilados, utilizados y procesados, con el
    prop&oacute;sito de crear una cuenta y usar los servicios que <strong>Creditario</strong> pone a su disposici&oacute;n,
    tomando en cuenta que los datos personales solicitados son necesarios para crear una cuenta, acceder o contactarnos.</p>

    <p>Tambi&eacute;n supervisamos y recopilamos informaci&oacute;n de seguimiento relacionada con el uso, como la fecha y hora
    de acceso, la identificaci&oacute;n del dispositivo, el sistema operativo, el tipo de navegador y la direcci&oacute;n IP.
    esta informaci&oacute;n puede ser obtenida directamente por <strong>Creditario</strong> o por servicios de terceros. Estos
    datos de uso del servicio ayudan a nuestros sistemas a garantizar que nuestra interfaz sea accesible para los usuarios en
    todos los dispositivos y puede ayudar durante las investigaciones penales.</p>

    <h2>Razones para recabar informaci&oacute;n</h2>

    <ol class="list-decimal list-inside">
      <li>
        <h3>Medir el rendimiento del Sitio Web</h3>
        <p>Medimos y analizamos activamente los datos para comprender c&oacute;mo se utilizan nuestros servicios. Nuestro equipo
        de operaciones realiza esta actividad de revisi&oacute;n para mejorar continuamente el rendimiento de nuestra plataforma
        y resolver problemas con la experiencia del usuario.
        Monitoreamos continuamente la informaci&oacute;n de actividad de nuestros sistemas y las comunicaciones con los usuarios
        para buscar y solucionar problemas r&aacute;pidamente.</p>
      </li>
      <li>
        <h3>Comunicarnos</h3>
        <p>Utilizamos los datos personales recopilada, como una direcci&oacute;n de correo electr&oacute;nico, para interactuar
        con los usuarios directamente cuando brindamos asistencia al cliente.
        Sin procesar su datos personales para confirmar cada comunicaci&oacute;n, no podremos responder a sus solicitudes,
        preguntas y consultas enviadas. todas las comunicaciones directas se mantienen confidenciales y se revisan internamente
        para verificar su precisi&oacute;n.</p>
      </li>
      <li><h3>Hacer cumplir nuestros contratos</h3>
        <p>Es muy importante para nosotros y nuestros usuarios que revisemos, investiguemos y prevengamos continuamente cualquier
        actividad potencialmente prohibida o ilegal que viole nuestros contratos. Para el beneficio de toda nuestra base de
        usuarios, aplicamos cuidadosamente nuestros acuerdos con terceros e investigamos activamente las violaciones de
        nuestros t&eacute;rminos y condiciones publicados.</p>
      </li>
    </ol>

    <h2>Transferencia de datos personales.</h2>

    <p>
    A efecto de estar en posibilidad de dar cumplimiento a las finalidades previstas en este aviso de privacidad, cuando a juicio
    de <strong>Creditario</strong> sea necesario, se podr&aacute; efectuar la transferencia de algunos de sus datos personales a
    favor de terceros, comprometi&eacute;ndose en todo caso <strong>Creditario</strong> a velar por el cumplimiento de los principios
    de protecci&oacute;n de datos personales establecidos en la Ley y a tomar las medidas necesarias y suficientes para garantizar
    que tanto la Ley como este aviso de privacidad sean respetados en todo momento por &eacute;l o los terceros a los
    que <strong>Creditario</strong> transfiera los datos personales.
    </p>
    <p>
    En este sentido, <strong>Creditario</strong> podr&aacute; realizar la transferencia de sus datos personales, entre otros, a
    sus empresas subsidiarias y afiliadas, autoridades y a terceros prestadores de los servicios necesarios para su debida
    operaci&oacute;n y para el cumplimiento de las finalidades previstas en el presente aviso de privacidad.
    </p>
    <p>
    Las personas f&iacute;sicas o morales a las que <strong>Creditario</strong> haga transferencia de sus datos personales
    tendr&aacute;n la misma calidad de encargados (persona f&iacute;sica o jur&iacute;dica, p&uacute;blica o privada, ajena a la
    organizaci&oacute;n del responsable, que sola o conjuntamente con otras trate datos personales a nombre y por cuenta de
    <strong>Creditario</strong>) y se comprometen a dar cumplimiento a lo establecido en el presente aviso de privacidad.
    </p>
    <p>
    <strong>Creditario</strong> podr&aacute; llevar a cabo la transferencia de sus datos personales sin su consentimiento cuando
    por cumplimiento a cualquier Ley, mandato judicial o por requerimiento de autoridad competente.</p>
    </p>

    <h2>Derechos</h2>

    <p>Si desea limitar el uso o divulgaci&oacute;n de su datos personales en nuestra posesi&oacute;n, deber&aacute; enviar un
    correo electr&oacute;nico a la siguiente direcci&oacute;n: <strong>soporte@creditar.io</strong> con el asunto “solicitud de
    limitaci&oacute;n o divulgaci&oacute;n de datos personales”. adicionalmente deber&aacute; contener la siguiente informaci&oacute;n.
    </p>
    <p>

    <ol class="list-disc list-inside pl-5">
      <li>Nombre del cliente o usuario.</li>
      <li>Declaraci&oacute;n de hechos (explicaci&oacute;n breve y solicitud).</li>
      <li>Direcci&oacute;n de correo electr&oacute;nico para comunicar respuesta a su solicitud.</li>
      <li>Documentos que acrediten identidad o personalidad para presentar la solicitud (ine, pasaporte o cualquier otra
      identificaci&oacute;n vigente).</li>
    </ol>

    </p>    <h2>Uso de cookies y web beacons</h2>

    <p>Nuestro Sitio Web utiliza cookies, web beacons y otras tecnolog&iacute;as a trav&eacute;s de las cuales es posible
    monitorear su comportamiento como cliente o usuario de internet, brindarle un mejor servicio y experiencia de cliente o
    usuario al navegar en el Sitio Web, as&iacute; como ofrecerle nuevos productos y servicios basados en sus preferencias.
    Los datos personales que obtenemos de estas tecnolog&iacute;as de rastreo son los siguientes: horario de navegaci&oacute;n,
    tiempo de navegaci&oacute;n en nuestra p&aacute;gina de internet, secciones consultadas, y p&aacute;ginas de internet accedidas
    previo a la nuestra.</p>

    <h2>Aceptaci&oacute;n</h2>

    <p>Al ponerse a disposici&oacute;n el presente aviso de privacidad y la no manifestaci&oacute;n oposici&oacute;n alguna por el
    cliente, se entender&aacute; que otorga a <strong>Creditario</strong> su consentimiento para llevar a cabo el tratamiento de
    los datos personales que hubieran sido proporcionados y/o los que con motivo de alguna de las finalidades establecidas en el
    presente proporcione en lo futuro.</p>

    <h2>En contacto con Creditario</h2>

    <p>Si desea contactar con el &aacute;rea de servicio al cliente o sospecha que su datos personales se ha visto comprometida,
    especialmente la informaci&oacute;n de cuenta y/o contrase&ntilde;a, comun&iacute;quese con el Servicio al
    Cliente de <strong>Creditario</strong> de inmediato.</p>

    <p>
    <address class="pl-5">
      Correo: soporte@creditar.io</br>
      Tel&eacute;fono: +52 312 323 6909</br>
      Domicilio: Calandria 112, Residencial Santa B&aacute;rbara, Colima, Colima, c.p. 28017, M&eacute;xico.</br>
    </address>

    </p>

    <h2>Modificaciones a nuestro aviso de privacidad</h2>

    <p><strong>Creditario</strong> se reserva el derecho de realizar modificaciones o actualizaciones a este aviso de privacidad
    para realizar cambios en t&eacute;rminos de la Ley o nuestras pr&aacute;cticas de recopilaci&oacute;n y uso de datos personales.
    Si se realizan cambios materiales en este aviso de privacidad, los cambios se anunciar&aacute;n mediante publicaci&oacute;n en
    el Sitio Web o notificaci&oacute;n por correo electr&oacute;nico.</p>
  </div>
</section>
