---
layout: default
---
<section class="pt-32 bg-gray-100 border-t-4 border-teal-700">
  <div class="max-w-6xl px-6 py-8 mx-auto">
    <header class="space-y-4">
      <div class="max-w-xl text-gray-800 text-md leading-5">
        <h1 class="">Ayúdanos a construir la mejor plataforma de gestión de créditos y motor bancario.</h1>
        <p>
          En Creditario, desarrollamos una plataforma para que empresas Fintech puedan acelerar el desarrollo de modernos y novedosos productos para sus clientes.
        </p>
        <p>
          Para lograr los objetivos de la plataforma buscamos a personas talentosas para que se unan a nuestro equipo y nos ayuden con la visión que nos trazamos.
        </p>
      </div>
    </header>
  </div>
</section>

<section class="bg-white">
  <main class="max-w-2xl px-6 mx-auto lg:max-w-6xl">
    <article class="py-12 border-t-2 border-gray-20 grid lg:grid-cols-3 lg:gap-16">
      {% render "vacante_sidebar", post: page %}

      <div class="col-span-2 space-y-12">
        <div class="space-y-8">
          <div class="space-y-2">
            <h1 class="text-3xl font-bold text-gray-900 leading-9 sm:text-4xl sm:leading-10">{{ page.title }}</h1>
            <p class="text-lg text-gray-600 leading-7">{{ page.description }}</p>
          </div>
        </div>

        {% render "vacante_sidebar_mobile", post: page %}

        <div class="prose">
          {{ content }}

          {% if page.closed == "Abierta" %}
            <h2>¿Cómo aplicar?</h2>
            <p>Envía tu curriculum acompañado de una breve presentación a la dirección de correo electrónico <a class="font-semibold hover:underline" href="mailto:empleo@creditar.io?subject={{ post.title }}">empleo@creditar.io</a></p>
          {% endif %}
        </div>
      </div>
    </article>
  </main>
</section>

{% render "contact_modal", metadata: site.metadata %}
