@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

$dark-blue: #0a2540;
$mid-blue: #425466;
$dark-green: #306370;
$mid-green: #6cac88;
$light-green: #c2d563;
$dark-gray: #e5e5e5;
$light-gray: #f6f9fc;
$red: #ff6666;

$navbar: -10px 10px 15px rgba(0, 0, 0, 0.15);
$hard: 0px 4px 4px rgba(0, 0, 0, 0.15);
$soft: 0px 8px 8px rgba(0, 0, 0, 0.15);

body {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $dark-blue;

  h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
  }

  nav a {
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
  }

  h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    font-weight: bold;
  }

  footer {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  nav {
    z-index: 100;
    a {
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      &:hover {
        color: $mid-green;
      }
    }
    .logo {
      width: clamp(128px, 40vw, 213px);
    }
  }

  section {
    h1,
    h2,
    h3,
    p {
      margin-bottom: 20px;
    }
    img {
      width: auto;
      height: 350px;
      box-shadow: $navbar;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

footer {
  background-color: $dark-blue;
  color: $light-gray;
  .logo {
    width: clamp(118px, 19vw, 120px);
  }
  a:hover {
    color: $mid-green;
  }
}

.btn {
  width: 120px;
  height: 40px;
  background: $red;
  a,
  span {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    &:hover {
      color: #ffffff;
    }
  }
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
  }
  &.btn-wide {
    width: 245px;
  }
  &.btn-cancel {
    background-color: #e5e5e5;
    span {
      color: $mid-blue;
    }
  }
}

#home {
  background: url(/images/background.png);
}

#products {
  background: linear-gradient(
      108.24deg,
      $light-gray 22.24%,
      rgba(181, 181, 181, 0) 81.67%
    ),
    $light-gray;
  background-color: $light-gray;
  h3 {
    color: $dark-green;
  }
}

#customers {
  h3 {
    color: $mid-green;
  }
}

#credits {
  background: linear-gradient(
      107.48deg,
      $dark-green 17.43%,
      rgba(83, 176, 200, 0) 82.79%
    ),
    $dark-green;
  background-color: $dark-green;
  h3 {
    color: $light-green;
  }
  h2,
  p {
    color: $dark-gray;
  }
}

#api {
  background: linear-gradient(
      107.44deg,
      $light-green 15.77%,
      rgba(218, 235, 133, 0) 70.24%
    ),
    $light-green;
  background-color: $light-green;
  h3 {
    color: $dark-green;
  }
  h2,
  p {
    color: $dark-blue;
  }
}

#vacantes {
  background-color: $dark-green;
  min-height: 90vh;
  min-width: 100% !important;

  h5 {
    color: $dark-blue;
  }

  .divider {
    background-color: $light-green;
  }
}

.change {
  background-color: $light-gray;
  box-shadow: $navbar;
}

@media (min-width: 1024px) {
  body {
    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
    }
    nav a {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .not-cropped {
    max-width: 700px;
  }
}

.icon {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.15));
  height: 1.5rem;
  width: 1.5rem;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-up__animate {
  animation-name: fadeInUp;
}

.fade-in-up {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.form-box {
  background-color: $mid-green;
}

.logo-contact-form {
  width: 100%;

  img {
    box-shadow: none;
    height: 25%;
  }
}

.info-sub {
  color: $dark-gray;
}

#identidad {
  .identidad__text-almost-white {
    color: #6b7280;
  }

  .main {
    &__bg {
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    }

    &__btn-signup {
      color: white;
    }
  }

  .identidad {
    &__integracion {
      &-cards {
        &-logo {
          top: -10%;
        }
        &-button {
          bottom: -12%;

          button {
            background-color: white;
          }
        }
      }
    }
  }
}
