<section data-controller="contact" class="hidden">
	<div class="fixed z-100 inset-0 overflow-y-auto">
		<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
			<div class="fixed inset-0 transition-opacity">
				<div class="absolute inset-0 bg-gray-900 opacity-75"></div>
			</div>
			<span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
			<div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
				<div class="flex">
					<div class="form-box px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
						<div class="logo-contact-form py-5 mt-5 mb-10 flex justify-center">
							<img src="/images/creditario-dark.png" alt="creditar.io">
						</div>
						<div>
							<p class="font-bold text-center text-lg">
								Gracias por su
								<br/>
								interés en Creditar.io
							</p>
							<p class="text-white font-normal">
								Por favor complete el siguente formulario para que una persona de nuestro equipo ponga en contacto con usted.
							</p>
						</div>
					</div>
					<div class="form-input p-5">
						<p class="text-3xl font-bold" data-target='contact.title'>
							Contacto
						</p>
						<div class="w-full">
							<form class="w-full" data-action="submit->contact#send">
								<div class="mb-4 w-3/4">
									<label class="block text-gray-700 text-sm font-bold mb-2" for="name" >
										Nombre *
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="name" type="text" data-action="change->contact#validate" data-target="contact.name">
								</div>
								<div class="mb-6 w-3/4">
									<label class="block text-gray-700 text-sm font-bold mb-2" for="company">
										Empresa *
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="company" type="text" data-action="change->contact#validate" data-target="contact.company">
								</div>
								<div class="mb-6 w-3/4">
									<label class="block text-gray-700 text-sm font-bold mb-2" for="email">
										Correo Electrónico *
									</label>
									<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" type="text" data-action="change->contact#validate" data-target="contact.email">
								</div>
								<div class="mb-6">
									<label class="block text-gray-700 text-sm font-bold mb-2" for="message">
										Mensaje
									</label>
									<textarea class="shadow appearance-none border rounded w-full resize-none focus:outline-none focus:shadow-outline p-3" rows="5" name="message" data-target="contact.message"></textarea>
								</div>
								<div class="flex items-center justify-end">
									<button class="btn btn-cancel mx-3" data-action="click->contact#closeModal" data-target='contact.cancel'>
										<span>Cancelar</span>
									</button>
									<button class="btn">
										<span>Enviar</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>