<footer class="w-full flex items-center justify-around flex-wrap">
  
  <img class="logo w-1/2" src="/images/creditarioLight.svg" alt="creditar.io">
  
  <div class="w-1/2 flex items-center justify-between">
    <a href="" class="">
      Soluciones
    </a>
    <a href="" class="">
      Compañía
    </a>
    <a href="" class="">
      Blog
    </a>
  </div>

  <p class="w-full text-center">Todos los derechos reservados © Creditar.io 2020</p>
  
</footer>
