<footer class="w-full flex items-center flex-wrap p-5">
  
  <div class="flex-grow lg:flex-none">
    <img class="logo" src="/images/creditarioLight.svg" alt="creditar.io">
  </div>
  
  <div class="flex-none flex items-center justify-between">
    <a href="" class="ml-5">Soluciones</a>
    <a href="" class="ml-5">Compañía</a>
    <a href="" class="ml-5">Blog</a>
  </div>

  <p class="w-full text-center lg:w-auto lg:flex-grow lg:text-right">Todos los derechos reservados © Creditar.io 2020</p>
  
</footer>
