<footer class="w-full flex items-center flex-wrap py-5 px-2">
  
  <div class="logo lg:flex-none">
    <img src="/images/creditario-light.png" alt="creditar.io">
  </div>
  
  <div class="flex flex-grow justify-end lg:justify-start">
    <a href="" class="ml-2 md:ml-8">Soluciones</a>
    <a href="" class="ml-2 md:ml-8">Compañía</a>
    <a href="" class="mx-2 md:ml-8">Blog</a>
  </div>
  
  <p class="w-full text-center mt-2 lg:mt-0 lg:w-auto lg:flex-none lg:text-right">Todos los derechos reservados © Creditar.io 2020</p>
</footer>
