<footer class="flex flex-wrap items-center w-full px-2 py-5">

  <div class="logo lg:flex-none">
    <img src="/images/creditario-light.png" alt="creditar.io">
  </div>

  <div class="flex justify-end flex-grow lg:justify-start">
    <a href="mailto:hola@creditar.io?subject=Me%20interesa%20conocer%20m%C3%A1s%20de%20creditar.io" class="ml-2 md:ml-8">hola@creditar.io</a>
    {% comment %}<a href="" class="ml-2 md:ml-8">Soluciones</a>{% endcomment %}
    {% comment %}<a href="" class="ml-2 md:ml-8">Compañía</a>{% endcomment %}
    <a href="https://blog.creditar.io" target="blank" class="mx-2 md:ml-8">Blog</a>
  </div>

  <p class="w-full mt-2 text-center lg:mt-0 lg:w-auto lg:flex-none lg:text-right">Todos los derechos reservados © Creditario Digital SAPI de CV 2020</p>
</footer>
