<footer class="bg-creditario">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a id="cta-footer" href="mailto:{{ metadata.email }}?subject=Me%20interesa%20conocer%20m%C3%A1s%20de%20creditar.io" class="text-base text-white hover:text-gray-100">{{ metadata.email }}</a>
      </div>

      <div class="px-5 py-2">
        <a id="cta-identidad-footer" href="/identidad" class="text-base text-white hover:text-gray-100">Identidad</a>
      </div>

      <div class="px-5 py-2">
        <a id="cta-blog-footer" href="/privacidad" class="text-base text-white hover:text-gray-100">Privacidad</a>
      </div>

      <div class="px-5 py-2">
        <a id="cta-jobs-footer" href="/vacantes" class="text-base text-white hover:text-gray-100">Vacantes</a>
      </div>

      <div class="px-5 py-2">
        <a id="cta-blog-footer" href="https://blog.creditar.io" target="blank" class="text-base text-white hover:text-gray-100">Blog</a>
      </div>
    </nav>
    <div class="flex justify-center mt-8 space-x-6">
      <a href="/" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Creditario</span>
        <img src="/images/creditario.svg">
      </a>
    </div>
    <p class="mt-8 text-base text-center text-white">
    Todos los derechos reservados © Creditario Digital SAPI de CV 2021.
    </p>
  </div>
</footer>
