<nav id="navbar" class="fixed top-0 flex flex-wrap items-center w-full px-5 py-4">

  <div class="logo lg:order-1">
    <a href="/">
      <img src="/images/creditario-dark.png" alt="creditar.io">
    </a>
  </div>

  <div class="flex items-center justify-end lg:justify-start flex-grow lg:order-3 lg:flex-none lg:ml-5">
    <button id="navButton" class="flex items-center ml-2 lg:hidden md:ml-8">
      <img id="burger" class="w-8 h-8 icon" src="/images/burger.svg" alt="menu">
      <img id="close" class="hidden w-8 h-8 icon" src="/images/close.svg" alt="menu">
    </button>
  </div>

  <div id="navMenu" class="hidden block w-full mt-5 lg:mt-0 lg:order-2 lg:w-auto lg:flex-grow lg:flex lg:items-center lg:justify-start">
    {% comment %}<a href="#" class="block pl-8 lg:p-0">Soluciones</a>{% endcomment %}
    <a id="cta-identity" href="/identidad" class="block pl-8 my-2 lg:p-0 lg:mx-5">Identidad</a>
    <a id="cta-jobs" href="/vacantes" class="block pl-8 my-2 lg:p-0 lg:mx-5">Vacantes</a>
    <a id="cta-blog" href="https://blog.creditar.io" target="blank" class="block pl-8 my-2 lg:p-0 lg:mx-5">Blog</a>
  </div>
</nav>
