<nav id="navbar" class="w-full fixed top-0 py-4 flex items-center flex-wrap px-5">

  <div class="logo lg:order-1">
    <img src="/images/creditario-dark.png" alt="creditar.io">
  </div>

  <div class="flex-grow flex justify-end items-center lg:order-3 lg:flex-none lg:ml-5">
    <button class="btn">
      <a id="cta-nav" href="mailto:{{ metadata.email }}?subject=Me%20interesa%20conocer%20m%C3%A1s%20de%20creditar.io">Contacto</a>
    </button>
    <button id="navButton" class="lg:hidden flex items-center ml-2 md:ml-8">
      <img id="burger" class="icon w-8 h-8" src="/images/burger.svg" alt="menu">
      <img id="close" class="icon w-8 h-8 hidden" src="/images/close.svg" alt="menu">
    </button>
  </div>

  <div id="navMenu" class="w-full block hidden mt-5 lg:mt-0 lg:order-2 lg:w-auto lg:flex-grow lg:flex lg:items-center lg:justify-end">
    {% comment %}<a href="#" class="block pl-8 lg:p-0">Soluciones</a>{% endcomment %}
    {% comment %}<a href="#" class="block pl-8 my-2 lg:p-0 lg:mx-5">Compañía</a>{% endcomment %}
    <a id="cta-blog" href="https://blog.creditar.io" target="blank" class="block pl-8 lg:p-0">Blog</a>
  </div>
</nav>
