<div class="py-6 sticky top-0 bg-white z-10 shadow-md" data-controller="menu">
  <div>
    <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="/">
            <span class="sr-only">Aoorora</span>
            <img class="h-8 w-auto sm:h-10" src="images/aoo.svg">
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-skin-accented hover:text-skin-dimmed hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false" data-action="menu#toggleTransition">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>

        <div class="hidden space-x-10 md:flex md:ml-10 navbar">
          <a href="/identidad" class="navbar-item">Identidad</a>
        </div>
      </div>

      <div class="hidden md:flex">
        <a href="#" class="inline-flex button button-accented uppercase font-bold pt-3.5" data-action="modal#open">Contacto</a>
      </div>
    </nav>

    <div class="hidden absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
       data-menu-target="menu"
       data-transition-enter="transition ease-out duration-100"
       data-transition-enter-active="transform opacity-0 scale-95"
       data-transition-enter-to="transform opacity-100 scale-100"
       data-transition-leave="transition ease-in duration-75"
       data-transition-leave-active="transform opacity-100 scale-100"
       data-transition-leave-to="transform opacity-0 scale-95">
      <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="images/aoo.svg">
          </div>
          <div class="-mr-2">
            <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-skin-accented hover:text-skin-dimmed hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" data-action="menu#toggleTransition">
              <span class="sr-only">Close main menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="px-2 pt-2 pb-3 space-y-1 mobile-navbar">
          <a href="/" class="navbar-item">Plataforma bancaria</a>
          <a href="/identidad" class="navbar-item">Identidad</a>
        </div>
      </div>
    </div>
  </div>
</div>
