<nav id="navbar" class="w-full fixed top-0 py-4 flex items-center flex-wrap px-5">
  
  <div class="flex-grow lg:order-1">
    <img class="logo" src="/images/creditarioDark.svg" alt="creditar.io">
  </div>
  
  <div class="flex-none flex items-center lg:order-3">
    <button class="btn">Contacto</button>
      
    <button id="navButton" class="lg:hidden flex items-center ml-2">
      <img id="burger" class="w-8 h-8 mt-2" src="/images/burger.svg" alt="menu">
      <img id="close" class="w-8 h-8 mt-2 hidden" src="/images/close.svg" alt="menu">
    </button>
  </div>

  <div id="navMenu" class="w-full block hidden mt-5 lg:mt-0 lg:order-2 lg:w-auto lg:flex-none lg:flex lg:items-center">
    <a href="#" class="block pl-8 lg:px-5">Soluciones</a>
    <a href="#" class="block pl-8 my-3 lg:px-5 selected">Compañía</a>
    <a href="#" class="block pl-8 lg:px-5">Blog</a>
  </div>
  
</nav>